/* comment */
.body {
    background-color: black;
    font-family: 'Source Code Pro', monospace;
}

.navbar{
    margin: 30px;
    border-radius: 50px;
    border-bottom:7px solid #69dec2fd;
    border-top:3px solid #55b39dfd;
    border-left: 5px solid #53bba3fd;
    border-right: 5px solid #53bba3fd;

}
.contents li a{
    font-size: 1.5rem;
}

.content {
  margin-top: 100px;
}
@media(max-width:576px)
{
    .box{display: flex;
    flex-direction: column-reverse;}
}

.content-left {
   

    color: white;
    margin-top: 100px;


}

.content-left p {
    font-size: 1.4rem;
}

.content-left button {
    background-color: transparent;
    color: #75f9dafd;
    font-size: 32px;
    margin-top: 75px;

}
.content-left button:hover {
   background-color:#5a7871fd ;

}

.content-right {
    padding-left: 150px;
    padding-top: 50px;
}
.btn-style{
    border-top: 2px  solid  #338e79fd ;
    border-bottom: 4px  solid  #75f9dafd ;
    border-left: 3px  solid  #4dbba1fd ;
    border-right: 3px  solid  #4dbba1fd;
    border-radius: 60px;
}