.body {
    background-color: black;
    font-family: 'Source Code Pro', monospace;
}

.nav-div {
    padding: 20px;
    display: flex;
    margin: 20px 300px;
    margin-left: 408px;
    max-width: 50%;
    justify-content: center;
    border-bottom: 4px solid #75f9dafd;
    border-top: 2px solid #5ac4abfd;
    border-radius: 50px;
    position: sticky;

}



.navbar {
    display: inline;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    color: white;
}

.navbar li {
    list-style: none;
    display: inline;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    padding: 0px 25px;
    font-size: 1.3rem;

}

.nav-list li a:hover {
    color: aquamarine;
}

.content {
    display: flex;
    padding: 70px;
}

.content-left {
    max-width: 50%;

    color: white;
    margin-left: 90px;


}

.content-left p {
    font-size: 1.4rem;
}

.content-left button {
    background-color: transparent;
    color: #75f9dafd;
    font-size: 32px;
    margin-top: 75px;

}
.content-left button:hover {
   background-color:#5a7871fd ;

}

.content-right {
    padding-left: 150px;
    padding-top: 50px;
}
.btn-style{
    border-top: 2px  solid  #338e79fd ;
    border-bottom: 4px  solid  #75f9dafd ;
    border-left: 3px  solid  #4dbba1fd ;
    border-right: 3px  solid  #4dbba1fd;
    border-radius: 60px;
}